ENV=local
LOG_LEVEL=INFO

DATABASE_URL=postgresql+psycopg2://postgres:your_password@localhost:5432/postgres
DATABASE_SCHEMA=public

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=winfotest_semantic_scripts

EMBEDDING_MODEL_NAME=all-mpnet-base-v2
EMBEDDING_DIMENSION=768

FAST_LLM_MODEL=qwen2.5-coder:1.5b
LLM_MODEL=qwen2.5-coder:7b
OLLAMA_BASE_URL=http://localhost:11434/v1
OPENAI_API_KEY=
